*{
    font-size: 18px;
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header, #navbar{
    display: flex;
}

header{
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 5%;
}

img{
    width: 4%;
}

li{
    list-style: none;
}

.navbar-item{
    margin: 5px 20px;
    padding: 5px 15px;
}

a{
    text-decoration: none;
    color: #000000;
}

#banner{
    background-image: url('/assets/images/banner5.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    border: solid 1x #000000;
    display: flex;
    align-items: center;

}

#banner-text{
     margin-left: 15%;
     width: 30%;
     background-color: rgba(33, 240, 255, 0.1);
     padding: 20px 60px;
     padding-bottom: 60px;
     border-radius: 30px;
     text-align: center;
}

#banner h1{
    margin-top: 10;
    margin-bottom: 0;
}

#banner h1,
#banner h1 span{
    font-size: 2.2rem;
}

#banner h1 span{
    display: block;
}

#banner-text p{ 
    color: #5b5858;
    font-size: 1rem;
    margin-top: 0;
}

#banner-text a{
    background-color: #02a5b0;
    padding: 10px 40px;
    color: #fff;
    border-radius: 6px;
    border: solid 1px rgb(255, 255, 255);
    font-weight: bold;
}

#tema{
    text-align: center;
    width: 100%;
}

#tipagem{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#tipagem img{
    border: solid 5px  black;
    width: 100%;
}

#p1{
    background-image: url('/assets/images/backgroundFire.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ff0000;
}

#p2{
    background-image: url('/assets/images/backgroundWater.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #0066ff;
}

#p3{
    background-image: url('/assets/images/backgroundElec.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffee00;
}

.Card1{
    border: solid 1px;
    width: 100%;
}

.body1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.Card1 h1{
    text-align: center;
}


.art1, .Card1 div img{
    width: 30%;
}

.art1{
    text-align: center;
}

.Card1 a{
    background-color: #02a5b0;
    padding: 10px 40px;
    color: #fff;
    border-radius: 6px;
    border: solid 1px rgb(255, 255, 255);
    font-weight: bold;
}

#Principal{
    text-align: center;
    width: 100%;
}

#Sub{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

#tipagem img{
    border: solid 5px  black;
    width: 100%;
}

#Sub h1{
    font-size: 20px;
}

#Sub div{
    width: 25%;
    text-align: center;
}

.icons{
    font-size: 25px;
}

#Treinadores{
    width: 100%;
    background-color: hsl(209, 89%, 60%);
}

#titulo{
    text-align: center;
}

#blocos{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 10px;
    padding: 20px 0px;
}

#blocos div img{
    width: 100%;
}

.subbloco{
    width: 30%;
    background-color: #fff;
    border-radius: 20px;
}

footer{
    text-align: center;
    width: 100%;
}

#SubFooter{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

#Resumo{
    text-align: justify;
}